<li class="pointer interlocutor">
                            
                            <div class="col-xs-10 col-sm-6 col-md-8 col-lg-8 border">
    <a href="/Chat#/profile/TchatchePass<%=user.id%>" class="stretch">
        <div class="border-gender pull-left bg<%=user.iswoman? ? "-woman" : "-man"%>"></div>
        <div class="chatter-infos-container<%=user.iswoman? ? " woman" : " man"%>">
                <div class="pull-left chatter-picture">
                    <div class="picture-container">
                        <div class="picture stretch" style="background-image: url(<%=user.image%>)">
                        </div>
                        <div class="online">
                            <span class="icon icon-online <%=user.online ? "online" : "offline"%>"></span>
                        </div>
                    </div>
                </div>
            <div class="chatter-infos">
                <span class="chatter-name"><%=user.name%></span>
                <div class="infos">
                    <div class="row-infos">
                        <span>
                            <%=user.iswoman? ? "Woman" : "Man"%>
                        </span>
                        <span><%=user.sonage%></span> years old
                    </div>
                    <div class="row-infos">
                        <span>FRA</span>
                        (<span>29</span>)
                    </div>
                    <div class="infos-row">
                      <span>    <%if user.femalesearched%>
                                <span class="icon icon-woman text-woman" title="Looking for a woman"></span>
<%end%>
<%if user.malesearched%>
                                <span class="icon icon-man text-man" title="Looking for a man"></span>
<%end%>
</span>                                                                          <span>
                                <span class="icon icon-vip"></span>
                            
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
                            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 actions text-vip">
                                <form action="/Chat/Favorites" method="post">
                                    <a>
                                        <label for="TchatchePass<%=user.id%>" class="stretch-middle-width pull-right text-right text-vip hover pointer">
                                            <span class="icon icon-delete fs-2x"></span>
                                        </label>
                                        <input type="hidden" name="chatterId" value="TchatchePass<%=user.id%>">
                                        <input id="TchatchePass<%=user.id%>" type="submit" class="hidden">
                                    </a>
                                </form>
                            </div>
                        </li>